.user-block {
    padding: 8px 0;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    cursor: pointer;
}

.user-name {
    font-size: 14px;
    font-weight: 700;
    color: #3F4257;
}

.user-email {
    font-size: 12px;
    color: #888da8;   
}