.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background {
  background-color: #F6F8FA;
  min-height: 100vh
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  .spinner-n-p {
    width: 40px;
    height: 40px;
    padding: auto auto;
    background-color: #333;
    margin-top: 20px;
    
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .search-bar {
    
        margin: auto;
        width: 50%;
        
        
    }
    
    .search-input {
        margin-top: -65px;
        position: absolute;
        width: 50%;
        border: 0;
        box-shadow: none;
        border-bottom: 2px solid #f0f0f0;
        border-radius: 0;
        padding: 0px;
    }
    
    input:focus {
        outline: none!important;
        box-shadow: none!important;
    }